body {
	background: #EFEFBB;
	background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
	color: rgb(0, 0, 0);
	margin: 0;
	font-family: rubik;
}

.container {
	padding: 40px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 54px;
}

.pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 20px;
	padding-inline-start: 0;
}

.card {
	list-style: none;
	padding: 40px;
	color: #222;
	text-align: center;
	border-radius: 20px;
	position: relative;
}

.card::after {
	content: "";
  display: block;
  width: 50%;
  height: 45%;
  border-radius: 100%;
  background-color: #fff;
  opacity: .7;
  position: absolute;
  top: 15%;
  left: 25%;
}

.steel {
	background-color: #61555538;
}

.fire {
	background-color: #ec0b0b65;
}

.grass {
	background-color: #18e42657;
}

.electric {
	background-color: #ecc60878;
}

.water, .ice {
	background-color: #2ea4db31;
}

.ground {
	background-color: #b4845042;
}

.rock {
	background-color: #62625d46;
}

.fairy {
	background-color: #da5ab350;
}

.poison {
	background-color: #a039b946;
}

.bug {
	background-color: #e2b67850;
}

.dragon {
	background-color: #10307c2f;
}

.psychic {
	background-color: #8e3cc544;
}

.flying {
	background-color: #5345cf2d;
}

.fighting {
	background-color: #7e272736;
}

.normal {
	background-color: #cfa6a6;
}
.ghost{
	background-color: #86b4677e;
}

.card:hover {
	animation: bounce 0.5s linear;
}

.card-title {
	text-transform: capitalize;
	margin-bottom: 0px;
	font-size: 32px;
	font-weight: normal;
	position: relative;
	z-index: 2;
}

.card-subtitle {
	margin-top: 5px;
	color: #666;
	font-weight: lighter;
	position: relative;
	z-index: 2;
}

.card-image {
	height: 180px;
	position: relative;
	z-index: 2;
}

@keyframes bounce {
	20% {
			transform: translateY(-6px);
	}
	40% {
			transform: translateY(0px);
	}

	80% {
			transform: translateY(-2px);
	}
	100% {
			transform: translateY(0);
	}
}